@font-face {
    font-family: "MarkScript";
    src: url("../../public/fonts/MarckScript-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Alexander";
    src: url("../../public/fonts/Alexander.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

.alexander{
    font-family: Alexander, serif;
}

.page-container{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

/** flex things **/
.column{
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right{
    margin-left: auto;
}

.left{
    margin-right: auto;
}

.center{
    margin: 0 auto;
}

.full{
    flex: 1 1 auto;
}



/** header **/
.page-container > header .logo {
    font-size: 32px;
    font-weight: 600;
    padding: 12px 4px;
    color: rgb(0, 0, 0);
    font-family: "MarkScript",serif;
    cursor: default;
    display: inline-flex;
    align-items: center;

}
.page-container > header .logo > .smaller{
    font-size: 22px;
    font-weight: 400;
}

.page-container > header > .right{
    justify-self: end;
}
