.textEditor textarea{
    font-size: 20px;
    text-align: center;
    resize: none;
    line-height: 1em;
    background: white;
    /*border: none;*/
}
.textEditor textarea:focus-visible {
    /*border: none;*/
    /*outline: none;*/
}
